.profile {
  margin: 0 Auto;
  position: absolute;
  top: calc(50% - 198px);
  left: calc(50% - 198px);
  
  font-size: 26px;
  background-color: darkred;
  color: #fff;
  text-align: center;
  padding: 140px 160px;
  
}