<section>
  <div class="home" [@shakeAnimation]="homeScreenAnimation" (@shakeAnimation.done)="setBackToUnchecked()">
    <div class="text">
      Please enter name:
    </div>
    <input class="textarea" type="text" [(ngModel)]="name">
    <input class="button" type="submit" (click)="onHomeButtonClick()">
  </div>
</section>
