.home {
  margin: 0 Auto;
  position: absolute;
  top: calc(50% - 198px);
  left: calc(50% - 198px);
  
  font-size: 26px;
  background-color: cadetblue;
  color: #fff;
  text-align: center;
  padding: 140px 160px;
  
}
.text {
  margin-bottom: 15px;
}
.textarea {
  border: 1px solid gray;
  padding: 5px;
}
.button {
  border: solid 2px white;
  background-color: transparent;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  padding: 5px 10px;
}